body{
	overflow: auto;
	font-family: Lato;
	font-size: 18px;
	background-color: WHITE;
    position: relative;
    margin: 0;
    background-color: rgba(248, 247, 216, 0.7);
    background-repeat: no-repeat;
}


#nav_wrapper{
    position: fixed;
    width: 100%;
	height: 60px;
	text-align: left;
    display: inline-block;
    text-transform: uppercase;
    z-index:999;
}

#nav_wrapper:a {
    color: white;
}

nav ul{
	position:relative;
    letter-spacing: 1px;
    height: 100%;
    padding-right: 3%;
    margin-top: 2px;
}

nav ul a {
    color: white;
}



nav ul li{
	display: block;
    padding: 10px;
    margin: 10px;
    float: right;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: white;
    background: #e25151;
}

nav ul li:hover {
    background: #af3131;    
    -webkit-transition: width 1s, height 1s, background-color 1s, font-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

h1 {
    font-size: 70px;
    margin: 0;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Raleway;
    font-weight: bold;
    color: #af3131;
    
}

#section {

}

#content {
    padding-top: 5%;
    width: 70%;
    margin: auto;
    text-align: left
}

#section1 {
    height: 700px;
    width: 100%;
    overflow: hidden;   
}


#section2 {
    height: 700px;
    width: 100%;
    overflow: hidden;   
}

#section3 {
    height: 800px;
    width: 100%;
    overflow: hidden;  
    background-color: #af3131;
}

#section3 h2 {
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
    
}

#section3 h4 {
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 0;
}

#section3 p {
    color: white;
}

input {
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 20px;
    margin: 5px 0 20px;
    letter-spacing: inherit;
    padding: 15px;
    outline-color: rgba(255, 255, 255, 0.92);
    letter-spacing: 1px;
    font-size: 14px;
}

textarea {
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 80px;
    margin: 5px 0 20px;
    letter-spacing: inherit;
    padding: 15px;
    outline-color: rgba(255, 255, 255, 0.92);
    letter-spacing: 1px;
    font-size: 14px;
}

#submitbutton {
    border: none;
    width: 30%;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    transition-property: background;
    background: #af3131;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
 
}

#submitbutton:hover {
    background: #e25151;    
    -webkit-transition: width 1s, height 1s, background-color 1s, font-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.footer {
    background-color: rgb(41, 41, 41);
    height: auto;
    overflow:hidden;
    clear: both;
	padding: 1%;
    text-align: center;
    
}

.footer ul, .footer li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 0;
}

#socialmedia img {
    width: 50px;
    height: auto;
    padding-right: 8px;
    padding-left: 8px;
}

#copyright p {
    color: white;
    margin: 4px;
    font-size: 14px;
}


