body{
    font-family: Helvetica;
	overflow: auto;
	font-size: 18px;
    margin: 0;
	height: 100%;
	min-height: 100%;
    background-color: rgba(248, 247, 216, 0.7);
    background-repeat: no-repeat;
    background-position: center;
}

#nav_wrapper{
    position: fixed;
    width: 100%;
	height: 60px;
	text-align: center;
    display: inline-block;
    z-index:999;
	background-color: rgba(0, 0, 0, 0.93);
	
    
}

#nav_wrapper:a {
    color: white;
}



nav ul{
	position:relative;
    letter-spacing: 1px;
    height: 100%;
    margin-top: 20px;
	float:right;
	margin-right: 3%;
	font-weight:bold;  
}

nav ul a {
    color: white;
    text-decoration: none;
}

nav ul li{
	display: inline;
	padding: 10px;    
}

nav ul li:hover {
    border-radius: 3px;
    background: #7b2727;  
    -webkit-transition:height 1s, background-color 1s, font-color 1s, -webkit-transform 1s;
    transition: width 1s,  width 1s, height 1s, background-color 1s, transform 1s;
}

h1 {
    font-size: 70px;
    margin: 0;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica;
    font-weight: bold;
    color: #af3131;
}

#content {
    padding-top: 5%;
    width: 70%;
    margin: auto;
    text-align: left;
}

section{
	display:block;
}

#introSection {
	height: auto;
    padding-bottom: 2%;
    width: 100%;	
	background-color: white;
    
}

#introSection h2 {
    font-family: Helvetica;
    color: white;
}

#introSection p{
    color: white;
}

#demo {
    float:left;
}

#introDiv{
	width: 65%;
    float:right;
	height: auto; 
	background-color: #af3131;
    line-height: 28px;
    
}

#introDiv p{
	text-align: justify;
}

#section1 {
    height: 700px;
    width: 100%;
	margin:0;
    background-position: center;
    background-repeat: no-repeat;
}

#section2 {
    height: 600px;
    width: 100%;
}

h2 {
    font-family: Helvetica;
    padding-top: 5%;
    color: #af3131;
    font-size: 40px;
    padding: 2% 5% 0 ;
    margin: 0;
    font-size: 50px;
    text-align: center;
}

#section3 {
	background-color:white;
	width: 100%;
	height: auto;
}



#questionsSection {
    height: 800px;
    width: 100%;
    overflow: hidden;  
    background-color: #af3131;
}

#questionsSection h2 {
    font-family: Helvetica;
    margin-left: 0;
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
}

#questionsSection h4 {
    font-family: Helvetica;
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 0;
}

#questionsSection p {
    font-family: Helvetica;
    color: white;
}

.images-container {
	display: block;
	margin-left: 5%;
	width: 30%;
	height: 200px;
}
.sectionContent{	
	width: auto;
	height: auto;
}

#section2 .images-container img {
	position: absolute;
	z-index: 1;
	margin-left: 11%;
}

/*middle*/
.images-container img:hover {
	z-index:4;
	 -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	width:210px !important;
}

.images-container .bot {
	width:200px;
	height:auto;
	z-index:3;
}

.images-container .mid {
	z-index:1;	
	width:200px;
	height:auto;
}
.images-container .top {
	z-index:2;
	width:200px;
	height:auto;
}

/* description box */

#flyoutNewsFeed {
	position:absolute;
	width: 40%;
	margin-left:50%;
	margin-top: 7%;
	float: right;
	z-index:6;	
	visibility: visible;
	
}
#flyoutSearch {
	position:absolute;
	width: 40%;
	margin-left:50%;
	margin-top: 7%;
	float: right;
	z-index:6;	
	visibility: hidden;
	
}
#flyoutNearby {
	position:absolute;
	width: 40%;
	margin-left:50%;
	margin-top: 7%;
	float: right;
	z-index:6;	
	visibility: hidden;
}

.descriptionBox {
	position: relative;
	padding: 2%;
	background: white;
	border: 4px solid #c2e1f5;
}
.descriptionBox:after, .descriptionBox:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.descriptionBox:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: white;
	border-width: 30px;
	margin-top: -30px;
}
.descriptionBox:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
}

#topicOneContainer {
	width: 50%;
	height: 50%;
	background-color: white;
	float:right;
	margin-right:4%;
}

#topicOneContainer h4 {
	padding-left: 5%;
}

#featuresContainer {
	width:100%;
	height: auto;
	
	padding-bottom: 20px;
}


input {
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 20px;
    margin: 5px 0 20px;
    letter-spacing: inherit;
    padding: 15px;
    outline-color: rgba(255, 255, 255, 0.92);
    letter-spacing: 1px;
    font-size: 14px;
}

textarea {
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 80px;
    margin: 5px 0 20px;
    letter-spacing: inherit;
    padding: 15px;
    outline-color: rgba(255, 255, 255, 0.92);
    letter-spacing: 1px;
    font-size: 14px;
}

#submitbutton {
    border: none;
    width: 30%;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    transition-property: background;
    background: #af3131;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
 
}

#submitbutton:hover {
    background: #e25151;    
    -webkit-transition: width 1s, height 1s, background-color 1s, font-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.footer {
    background-color: rgb(41, 41, 41);
    height: auto;
    overflow:hidden;
    clear: both;
	padding: 1%;
    text-align: center;
    
}

.footer ul, .footer li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 0;
}

#socialmedia img {
    width: 50px;
    height: auto;
    padding-right: 8px;
    padding-left: 8px;
}

#copyright p {
    font-family: Helvetica;
    color: white;
    margin: 4px;
    font-size: 14px;
}

.readMore{
	float: right;
	position:relative;
	pointer: pointer;	
}
.titleFoodle {
	float: left;
	margin-left: 3%;
	color: white;
}

/* slideshow*/

.mySlides {
	display:none
}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin-left: 40%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  margin-left: 255px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 2px;
  width: auto;
  left: 100px;
  text-align: center;
  
}

/* The dots indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #eaeaea; /*maybe red?*/
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


th {
    text-align: center;
    width: 25%;
}


td {
    width: 25%;
    font-size: 15px;
    text-align: center;
}

table {
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 4%;
}